.container {
  padding: 0.2em;

  .video {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid lightgray;
    box-shadow: 3px 3px 5px 0px rgba(191, 191, 191, 0.53);
    border-radius: 0.2em;

    transition: transform 250ms ease-in;
    &:hover {
      transform: scale(1.02);
    }
  }

  .thumbnail {
    width: 40%;
    height: 100%;
    border-radius: 0.2em;
  }

  .metaInfo {
    margin-left: 0.2em;

    .title,
    .channel {
      margin: 0;
      font-size: 0.8rem;
    }

    .channel {
      font-size: 0.6rem;
    }
  }
}

.container.oneLine {
  width: 100%;
  padding-left: 0.4em;
}

.container.twoLines {
  width: 50%;
}
