.searchHeader {
  display: flex;
  justify-content: center;
  height: 4rem;
  padding: 0.8em 1em;
  background-color: black;
  color: white;

  .logo {
    display: flex;
    align-items: center;
    margin-right: 1em;
    cursor: pointer;

    .logoImage {
      width: 50%;
      height: 100%;
      color: skyblue;
      margin: 0.2em;
    }
  }

  .searchInput {
    flex-basis: 80%;
    font-size: 1.2em;
    outline: 0;
  }

  .searchBtn {
    background-color: darkgray;
  }
}

@media screen and (max-width: 48rem) {
  .logoImage {
    display: none;
  }
}
